.bob{
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}
#FuckingStupedForm{
    float: left;
    margin-bottom: 50px;
}
.m-t{
    margin: 5% 7% 5% 40%;
}
footer{
    margin: 50px 100px;
}
